extend ../layout/layout.jade

block content
	main
		div(class='container')
			div(class='row')
				div(class='main-post col-lg-12 col-md-12  col-sm-12 col-xs-12')
					div(class='text')
						h1 Latest Blog Post
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						div(class='btn btn-warning btn-lg') main button
				div(class='row')
					aside(class='col-lg-3 col-md-3 col-sm-3 col-xs-12')
						div(class='row')
							div(class='categories col-lg-12 col-md-12 col-sm-12 col-xs-12')
								h1 categories
								ul(class='categories_list')
									li
										a(href='#') Category 1
									li
										a(href='#') Category 2
									li
										a(href='#') Category 3
							div(class='archives col-lg-12 col-md-12 col-sm-12 col-xs-12')
								h1 archives
								ul(class='archives_list')
									li
										a(href='#') July 2013
									li
										a(href='#') June 2013
									li
										a(href='#') May 3
							div(class='social_networks col-lg-12 col-md-12 col-sm-12 col-xs-12')
								h1 Follow us
								ul(class='social_networks_list')
									li
										a(href='#') Facebook
											i(class="fa fa-facebook" aria-hidden="true")
									li
										a(href='#') Pinterest
											i(class="fa fa-pinterest" aria-hidden="true")
									li
										a(href='#') Instagram
											i(class="fa fa-instagram" aria-hidden="true")
									li
										a(href='#') Twitter
											i(class="fa fa-twitter" aria-hidden="true")
									li
										a(href='#') RSS Feed
											i(class="fa fa-rss" aria-hidden="true")
							div(class='email col-lg-12 col-md-12 col-sm-12 col-xs-12')
								h1 JOIN NEWSLETTER
								div(class='input-block')
									input(type="text" class="form-control " placeholder="Enter Your Email")
									i(class="fa fa-envelope" aria-hidden="true")
					div(class='posts-list col-lg-9 col-md-9 col-sm-9 col-xs-12')
						h1 LATEST POSTS
						ul
							li(class='row')
								div(class='col-lg-4 hidden-xs')
									img(src="img/post-img.jpg" class='post-img' alt="post-img")
								div(class='text col-lg-8')
									h2 New Laws In Washington
									div(class='info')
										div(class='data') July 12, 2013
											i(class="fa fa-clock-o" aria-hidden="true")
										div(class='author') Joe Shmoe
											i(class="fa fa-user" aria-hidden="true")
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...  
										a(href='#') Read More
								div(class='icon-block')
									i(class="fa fa-comment" aria-hidden="true")
										span(class='number') 3
							li(class='row')
								div(class='col-lg-4 hidden-xs')
									img(src="img/post-img.jpg" class='post-img' alt="post-img")
								div(class='text col-lg-8')
									h2 New Laws In Washington
									div(class='info')
										div(class='data') July 12, 2013
											i(class="fa fa-clock-o" aria-hidden="true")
										div(class='author') Joe Shmoe
											i(class="fa fa-user" aria-hidden="true")
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...  
										a(href='#') Read More
								div(class='icon-block')
									i(class="fa fa-comment" aria-hidden="true")
										span(class='number') 3
							li(class='row')
								div(class='col-lg-4 hidden-xs')
									img(src="img/post-img.jpg" class='post-img' alt="post-img")
								div(class='text col-lg-8')
									h2 New Laws In Washington
									div(class='info')
										div(class='data') July 12, 2013
											i(class="fa fa-clock-o" aria-hidden="true")
										div(class='author') Joe Shmoe
											i(class="fa fa-user" aria-hidden="true")
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...  
										a(href='#') Read More
								div(class='icon-block')
									i(class="fa fa-comment" aria-hidden="true")
										span(class='number') 3