footer
	div(class='container')
		div(class='row')
			div(class='customer_service col-lg-3 col-md-3 col-sm-3 col-xs-6')
				h1 CUSTOMER SERVICE
				ul 
					li
						a(href="#") Track Order
					li
						a(href="#") Shipping Policy
					li
						a(href="#") No-Hassle Return Policy
					li
						a(href="#") FAQ
					li
						a(href="#") Company Info
					li
						a(href="#") Customer Testimonials
					li
						a(href="#") Privacy Policy
					li
						a(href="#") Sitemap					
			div(class='follow_search visible-xs-inline-block')
				ul
					li(class='search_costgro')
						h1 SEARCH COSTGRO
						div(class='input-block col-lg-12 col-md-12  col-sm-12 col-xs-12')
							input(type="text" class="form-control " placeholder="Search Costgro....")
							i(class="fa fa-search" aria-hidden="true")
					li(class='follow_costgro')
						h1 FOLLOW COSTGRO
						ul(class='social_networks')
							li
								a(href="#") Facebook
									i(class="fa fa-facebook" aria-hidden="true")
							li
								a(href="#") Pinterest
									i(class="fa fa-pinterest" aria-hidden="true")
							li
								a(href="#") Instagram
									i(class="fa fa-instagram" aria-hidden="true")
							li
								a(href="#") Twitter
									i(class="fa fa-twitter" aria-hidden="true")
			div(class='shop_costgro col-lg-6 col-md-6 col-sm-6 col-xs-12')
				h1 SHOP COSTGRO
				ul(class='row')
					li(class='col-lg-5 col-md-5 col-sm-5 col-xs-5')
						ul(class='left-block')
							li
								a(href="#") Air / HVAC
							li
								a(href="#") Controllers, Timers
							li
								a(href="#") &amp; Meters
							li
								a(href="#") Grow Media
							li
								a(href="#") Grow Systems
							li
								a(href="#") Grow Tents
							li
								a(href="#") Lighting
							li
								a(href="#") Nutrients
							li
								a(href="#") Pest &amp; Disease Control
					li(class='col-lg-5 col-md-5 col-sm-5 col-xs-5')
						ul(class='right-block')
							li
								a(href="#") pH / TDS Solutions 
							li
								a(href="#") &amp; Meters
							li
								a(href="#") Pots &amp; Containers
							li
								a(href="#") Propagation
							li
								a(href="#") Tools &amp; Accessories
							li
								a(href="#") Grow Trays, Reservoirs
							li
								a(href="#") &amp; Stands
							li
								a(href="#") Water
			div(class='follow_search col-lg-3 col-md-3 col-sm-3 col-xs-6 hidden-xs')
				ul
					li(class='follow_costgro')
						h1 FOLLOW COSTGRO
						ul(class='social_networks')
							li
								a(href="#") Facebook
									i(class="fa fa-facebook" aria-hidden="true")
							li
								a(href="#") Pinterest
									i(class="fa fa-pinterest" aria-hidden="true")
							li
								a(href="#") Instagram
									i(class="fa fa-instagram" aria-hidden="true")
							li
								a(href="#") Twitter
									i(class="fa fa-twitter" aria-hidden="true")
					li(class='search_costgro')
						h1 SEARCH COSTGRO
						div(class='input-block col-lg-12 col-md-12  col-sm-12 col-xs-12')
							input(type="text" class="form-control " placeholder="Search Costgro....")
							i(class="fa fa-search" aria-hidden="true")