header
	.container
		div(class='row')
			div(class='left-block-header col-lg-8 col-md-8 col-sm-12 col-xs-12')
				div(class='row')
					a(href="#" class='img-block col-lg-3 col-md-3 col-sm-3 col-xs-2 hidden-xs')
						img(src="img/logo.png" class='logo' alt="logo")
					div(class='text col-lg-12 col-md-12 col-sm-12 col-xs-8') 
						h1 FREE SHIPPING ON ALL ORDERS EXTENDED TO JULY 31
							img(src="img/car-icon.png" class='car-icon' alt="car-icon")
					div(class="navbar col-lg-12 col-md-12 col-sm-12 col-xs-12")
						div(class='container')
							nav
								input(id="burger" type="checkbox")
								label(for="burger")
									span
								ul(class="nav")
									li
										a(href="#") Products
									li
										a(href="#") Buyer’s Guide
									li
										a(href="#") Blog
									li
										a(href="#") Your Cart
											span(class='amount') (4)				    
			div(class='right-block-header col-lg-4  col-md-4  col-sm-12 col-xs-12')
				div(class='row')
					nav(class="navbar navbar-right col-lg-12 col-md-12  col-sm-5 col-xs-12")
						ul
							li
								a(href="#") My Account
							li
								a(href="#") Track Order
							li
								a(href="#") Wishlist
							li
								a(href="#") Sign Out
					div(class='input-block col-lg-12 col-md-12  col-sm-6 col-xs-12')
						input(type="text" class="form-control " placeholder="Search Costgro....")
						i(class="fa fa-search" aria-hidden="true") 
			div(class='input-block col-lg-12 col-md-12  col-sm-6 col-xs-12')